body {
    background-color: #C3EDDC;
    text-align: center;
}
h1 {
    color: #65737D;
}
.friend {
    border: solid;
    border-color: #65737D;
    background-color: white;
}
.friend p {
    text-transform: uppercase;
}