body {
    background-color: #C3EDDC;
    text-align: center;
}
h1 {
    color: #65737D;
}
.friend {
    border: solid;
    border-color: #65737D;
    background-color: white;
}
.friend h3 {
    text-transform: uppercase;
}
#singButton {
    color: black;
    border-color: #65737D;
    background-color: white;
    text-transform: uppercase;
    border-radius: 100px;
    margin-top: 6px;
    
}